.advantages {
    .space-reset();
    .wrapper();
    &__wrapper {
      
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        background-color: @advantages-background-color;
    }
}

.advantages__item {
    border-bottom: 1px solid #d6d6d6;
}

.advantages__header {
    .space-reset();
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 17px;
}

.advantages__text {
    padding-top: 30px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
}

@media(min-width: @screen-l-min) {
    .advantages {
        &__wrapper {
            flex-direction: row;
            flex-grow: 1;
        }
        .advantages__item {
            padding: 20px 20px;
            margin-left: 20px;
            margin-right: 20px;
            flex-grow: 1;
            border-bottom: none;
            padding-bottom: 5px;
            width: 33.33333333333333%;
        }
    }
    .advantages__text {
      padding-top: 25px;
      padding-bottom: 8px;
     padding-left: 0px;
     padding-right: 0px;
  }
  .advantages__text.advantages__lasttopic {
    padding-left: 20px;
    padding-right: 20px;
}

}
