.description__wrapper {
  .space-reset();
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.description__photo {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 257px;
  background-color: #cd755d;
}

.description__header {
  .space-reset();
  font-size: @middle-font-size;
  margin-bottom: 15px;
}

.description__item {
  background-color: @block-color;
  color: @font-size-color;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 57px 18px;
  padding-bottom: 25px;
  text-align: center;
}

.description__item--one {
  background-image: url("@{img-path}/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: 50% top;
}

.description__item--second {
  padding-bottom: 23px;
  padding-top: 39px;
}

@media (min-width: @screen-l-min) {
  .description {
    box-sizing: border-box;
    justify-content: center;
  }

  .description__wrapper {
    flex-direction: row;
  }

  .description__photo {
    flex-shrink: 0;
    width: 510px;
    height: 255px;
    box-sizing: border-box;
  }

  .description__item.description__item--second {
    order: 2;
  }

  .description__item--one .description__header {
    max-width: 160px;
  }

  .description__header {
    font-size: 21px;
    line-height: 26px;
  }

  .description__item--one {
    padding: 4px 0;
    padding-bottom: 0;
  }

  .description__text {
    max-width: 170px;
    margin: 0 auto;
  }

  .description__item--one .description__text {
    padding-top: 15px;
  }

  .description__item--second .description__text {
    padding-top: 17px;
  }

  .description__item--second .description__header {
    max-width: 151px;
    margin: 0 auto;
    padding: 5px;
    margin-bottom: 4px;
  }

  .description__item {
    width: 33.333333333333%;
    align-items: center;
  }

  .description__item--one,
  .description__item--second {
    flex-grow: 1;
  }

  .description__item--second {
    padding-top: 15px;
  }
}

@media (min-width: @screen-xl-min) {
  .description__item--one .description__text {
    max-width: 280px;
  }

  .description__item--second .description__header {
    max-width: 151px;
    padding: 0;
    margin: 0;
    padding-bottom: 12px;
  }
}

@media (min-width: @extra-large-up) {
  .description__photo {
    width: 800px;
    height: 256px;
    justify-content: center;
  }

  .description__header {
    padding: 0 50px;
  }

  .description__item.description__item--one {
    background-image: none;
    padding: 0;
    padding-bottom: 10px;
  }

  .description__item--second .description__text {
    max-width: 230px;
    margin-top: -2px;
  }
}
