.description {
  .space-reset();
}

.description__photo {
  background-color: cd755d;
  height: 260px;
  &--first {
    background: url("@{img-path}/main-city-mobile@1x.jpg") no-repeat;
  }
  &--second {
    background: url("@{img-path}/main-bridge-mobile@1x.jpg") no-repeat;
  }
}

.description__item {
  background-color: @block-color;
}
