.facilities {
  .space-reset();
  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #333;
    background-color: #fff;
  }
}


.facilities__item--first svg,
.facilities__item--second svg,
.facilities__item--third svg
 {
  width: 37px;
  height: 37px;
  fill: #81b3d2;
}

@media(min-width: @screen-l-min) {
  .facilities {
    .space-reset();
    &__wrapper {
      flex-direction: row;
    }
    .facilities__item {
      padding: 165px 45px 60px;
    }
  }
}
