.facilities__wrapper {
    background-color: @light-color;
    display: flex;
    flex-direction: column;
    padding: 20px 5%;
    margin-bottom: 5px;
    padding-bottom: 41px;
}

.facilities__item {
    display: flex;
    .space-reset();
    flex-direction: row;
    width: 100%;
    line-height: 21px;
    text-align: left;
}

.facilities__header {
    font-size: 18px;
    line-height: 26px;
}

.facilities__block {
    padding-left: 2px;
    margin-bottom: -2px;
}

.facilities__image {
    padding: 5px 2%;
}

.facilities__item--first svg,
.facilities__item--second svg,
.facilities__item--third svg {
    width: 37px;
    height: 37px;
    fill: #81b3d2;
}

@media(min-width: @screen-l-min) {
    .facilities {
        .space-reset();
        background-color: @light-color;
        margin-bottom: -10px;
        &__wrapper {
            .space-reset();
            flex-direction: row;
            min-height: 256px;
            padding: 30px 0px;
            text-align: center;
        }
    }
    .facilities__item--first svg,
    .facilities__item--second svg,
    .facilities__item--third svg {
        width: 75px;
        height: 75px;
    }
    .facilities__item {
        flex-direction: column;
        min-height: 256px;
        padding: 25px 0px;
        text-align: center;
        padding-bottom: 0;
    }
    .facilities__header{
        font-size:21px;
        font-weight: bold;
    }
    .facilities__item--third .facilities__header{
        margin-right:0;
        margin-top: 10px;
    }
    .facilities__item--first .facilities__header{
        margin-right: 6px;
    }
    .facilities__image {
        padding: 0;
    }
    .facilities__image:first-child {
        margin-right: 7px;
        margin-bottom: 5px;
    }
    .facilities__item--second .facilities__image {
        padding-left: 15px;
        margin-right: 0;
    }
    .facilities__item--third .facilities__image {
        padding-top: 5px;
        padding-left: 5px
    }
    .facilities__item--second {
        order: 3;
    }
    .description__item.description__item--second {
        order: 2;
    }
    .facilities__text {
        padding: 5px 45px;
        padding-left: 37px;
    }
    .facilities__block {
        margin-bottom: 9px;
    }
}