.feedback {
    background-color: @light-color;
}

.feedback__wrapper {
    background-color: @light-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding-top: 23px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 2px;
}

.feedback__send-mark {
    display: none;
}

.feedback__text {
    text-align: center;
    line-height: 24px;
}

.feedback__section__wrapper {
    display: flex;
}

.feedback__mainheader {
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 12px;
}

.feedback__form {
    background-color: @light-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    padding-bottom: 22px;
}

.feedback__header {
    text-align: center;
}

.feedback__section {
    .space-reset();
    position: relative;
    width: 100%;
    border: none;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 4px;
}

.feeddback__header--second {
    padding-left: 7px;
}

.feedback__header {
    display: block;
    .space-reset();
    padding: 20px 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    padding-right: 2px;
}

.feedback__section--contacts {
    margin-bottom: 13px;
}

.feedback__header--third {
    padding-left: 1px;
}

.main-info {
    display: flex;
    margin-bottom: 20px;
}

.feeddback__header--second {
    padding-left: 7px;
}

.feedback__header--third {
    padding-top: 5px;
}

.text-box__input::-webkit-input-placeholder,
.contact-info__input::-webkit-input-placeholder,
.comment-info__write::-webkit-input-placeholder,
.text-box__input::-moz-placeholder,

 {
    color: #000;
}

.feedback__header--fourth {
    padding: 18px 20px;
    padding-bottom: 14px;
}

.feedback__header.feedback__header--fifth {
    padding-top: 18px;
    padding-bottom: 17px;
}

.btn-search {
    display: block;
    width: 100%;
    height: 58px;
    margin: 39px auto 0;
    padding: 0;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: #fff;
    text-transform: uppercase;
    background-color: #81b3d2;
    border: none;
    outline: none;
    margin-bottom: 10px;
    font-family: inherit;
    cursor: pointer;
}
.btn-search {
  &:active {
      background-color: #5496bd;
      color: #88b6d1;}
      &:hover {
          background-color: #669ec0;
      }
}


.feedback__section.last-section,
.feedback__section.fifth-section {
    border-bottom: 0;
}

.feedback__modal {
    position: fixed;
    top: 12%;
    left: 0;
    right: 0;
    box-sizing: border-box;
    width: 320px;
    margin: 0 auto;
    box-shadow: 0 5px 30px -10px rgba(0, 0, 0, .6);
    z-index: 100;
}

.feedback__modal__text {
    padding: 40px 20px 20px;
    background: #fff;
    text-align: center;
}

/*скрыть модальные окна close*/

.feedback__modal.close {
    display: none;
}

/*отобразить модальные окна open*/

.feedback__modal.open {
    display: block;
}

.feedback__modal {
    top: 20%;
}

.feedback__modal--failure {
    top: 15%;
}

.feedback__modal__text {
    padding: 40px;
}

.feedback__modal--success {
    top: 50%;
}

@media(min-width: @screen-l-min) {
    .feedback__section:nth-child(1),
    .feedback__section:nth-child(3) {
        width: 49%;
        margin: 0;
        padding: 0;
    }
    .feedback__section:nth-child(3) {
        order: 1;
    }
    .feedback__section:nth-child(1) {
        order: 2;
        border-bottom: 0;

    }
    .feedback__section:nth-child(2) {
        order: 3;
        border-bottom: 0;

    }
    .feedback__section:nth-child(4) {
        order: 4;
        border-bottom: 0;

    }
    .feedback__section:nth-child(5) {

        order: 5;
    }
    .feedback__section:nth-child(6) {
        order: 6;
        max-width: 100%;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .feedback__send-mark {
        display: block;
        flex-grow: 1;
        height: 58px;
        margin-top: 40px;
        line-height: 58px;
        text-align: right;
    }
    .feedback__mainheader {
        font-size: 30px;
        line-height: 26px;
        margin-bottom: 30px;
    }
    .feedback__wrapper {
        padding-top: 50px;
        border-bottom: 0;
        border-bottom: 0;
    }
    .feedback__text {
        max-width: 445px;
        margin: 0 auto;
        padding-left: 2px;
        padding-right: 10px;
        padding-bottom: 2px;
    }
    .feedback__header--third,
    .feedback__header--first {
        font-size: 21px;
        line-height: 26px;
    }
    .feedback__header--third,
    .feedback__header--first {
        padding-top: 70px;
    }
    .feedback__header--third {
        padding-right: 10px;
    }
    .feedback__header--first {
        padding-right: 90px;
        margin-bottom: 38px;
    }
    .main-info {
        padding-left: 50px;
    }
    .feeddback__header--second {
      width: 100%;


    }
    .contact-info {
        width: 90%;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 18px;
        padding-bottom: 5px;
    }
    .contact-info__text {
        margin-bottom: 7px;

    }
    .feedback__header--fourth {
        font-size: 21px;
        line-height: 26px;

        width: 100%;
        margin: 0 auto;
    }
    .feedback__section--contacts {
        margin-bottom: -5px;
    }
    .feedback__header.feedback__header--fifth {
        font-size: 21px;
        line-height: 26px;
        align-items: center;
        padding-bottom: 55px;

    }
    .comment-info {
        max-width: 91%;
        margin: 0 auto;
        margin-bottom: 10px;

    }
    .btn-search {
        width: 50%;
        display: inline-block;
        vertical-align: middle;
    }
    .feedback__section:nth-child(3) {
        border-bottom: 0;
    }
    .feedback__modal--success {
        width: 640px;
    }
    .feedback__modal__text--failure {
        padding: 58px 20px 5px;
    }
    .feedback__modal {
        top: 12%;
    }
    .feedback__modal--failure {
        top: 41%;
        width: 400px;
    }
    .feedback__modal--success {
        top: 12%;
    }
    .main-info__text {
      padding-left: 8px;
      padding-top: 20px;
  }
  .feeddback__header--second::before,
  .feedback__header--fourth::before,
  .feedback__header--fifth::before {
    content: "";
    position: absolute;
    left: 0;
    width: 30%;
    height: 1px;
    margin-top: 10px;
    background: #dbdbdb;
}
.feeddback__header--second::after,
.feedback__header--fourth::after,
.feedback__header--fifth::after  {
  content: "";
  position: absolute;

  right: 0;
  width: 30%;
  height: 1px;
  margin-top: 10px;
  background: #dbdbdb;
}
.feedback__header--fourth::after {
  margin-top:0;
}
.feedback__header--fourth::before{
  margin-top: 25px;
}
.feedback__header {

  text-align: center;
  font-size: 21px;
  line-height: 26px;

}
}

@media(min-width: @screen-xl-min) {
    .feedback__form {
        padding: 0 120px;
    }

    .feeddback__header--second,
    .feedback__header--fourth,
    .feedback__header--fifth {
        text-align: center;
    }
    .feeddback__header--second {
      width: 100%;

    }
    .feedback__wrapper {
        padding-top: 93px;

    }
    .feedback__wrapper {
        padding-top: 86px;

        align-items: center;
    }
    .feedback__mainheader {
        margin-left: 0;
    }
    .feedback__header--first {

        margin-bottom: 0;
       margin-left: 72px;
text-align: left;
    }
    .feedback__wrapper {
        border-bottom: 0;
    }
    .feedback__header--fourth {
        padding: 0;

        margin: 0 auto;


    }
    .cheched-set {
        margin: 0;
    }
    .checkbox-set__item {
        width: 24%;
        box-sizing: border-box;
        padding-left: 20px;
    }
    .checkbox-set__item:first-child {
        padding-left: 0;
    }
    .checkbox-set__item:last-child {
        margin-right: -5px;
    }
    .checkbox-set__item:nth-child(2) {
        padding-left: 15px;
    }
    .checkbox-set__item:nth-child(3) {
        padding-left: 27px;

    }
    .feedback__text {
        padding-left: 8px;
    }
    .feedback__header.feedback__header--fifth {
        padding-bottom: 55px;

        width: 100%;

    }
    .comment-info__write {
        padding-top: 16px;
        padding-left: 22px;

    }
    .feedback__section:nth-child(6) {
        max-width: 100%;
    }
    .feedback__section:nth-child(6) {
        max-width: 100%;
        margin-bottom: 28px;
    }
    .btn-search {
        margin-bottom: 35px;
    }
    .feedback_button {
        padding-left: 0;
        text-align: center;
    }
    .feedback__header.feedback__header--third {
      margin-left: 80px;
      text-align: center;
  }
}

