.header-banner {
    .space-reset();
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: @light-color;
    &__page-header {
        .space-reset();
        font-size: @font-size-title;
        line-height: @title-line-height;
        font-weight: @font-weight-style;
        padding-left: 8%;
    }
    &__wrapper {
        padding: 40px 0;
        padding-bottom: 14px;
    }
}

.header-banner__page-slogan {
    padding-top: 12px;
    line-height: 26px;
}

.description__header {
    font-size: @base-font-size;
    font-size: 18px;
}
.description__number {
  margin-top: -5px;
}


@media(min-width: @screen-l-min) {
    .header-banner {
        .space-reset();
        &__page-header {
            font-size: @font-size-bigger;
        }
        &__wrapper {
            width: 510px;
            padding: 40px 6%;
        }
    }
}
