.header-banner {
    .space-reset();
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: @light-color;
    &__page-header {
        .space-reset();
        font-size: @font-size-title;
        line-height: @title-line-height;
        font-weight: @font-weight-style;
    }
    &__wrapper {
      padding: 40px 0;
        padding-bottom: 12px;
    }
}

.header-banner__page-slogan {
    padding-top: 12px;
    line-height: 26px;
}

@media(min-width: @screen-l-min) {
    .header-banner {
        .space-reset();
        &__page-header {
            font-size: @font-size-bigger;
            padding-bottom: 2px;
        }
        &__wrapper {
            padding: 50px 12%;
            padding-bottom: 37px;
            width: 620px;
        }
    }
}
