.main-banner {
    min-height: 158px;
    background-color: #e4f1f9;
    background: 
    url("@{img-path}/bg-back-mobile@1x.jpg") no-repeat,
    url("@{img-path}/bg-intro-triangle-mobile.svg") no-repeat;

}