.page-footer {
  .space-reset();
  background-color: @light-color;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 230px;
    margin: 0 20px;
    padding: 35px 0;
  }
}

.hashtag a {
  color: @light-dark;
  font-weight: bold;
  line-height: @title-line-height;
  font-size: @base-line-height;
}
.hashtag {
  margin-bottom: 35px;
}

.developer {
  &__text {
    line-height: @title-line-height;

  }
}
.developer {
  display: flex;
  justify-content: center;
}

.developer__link {
  display: block;
  width: 38px;
  height: 48px;
  margin-top: -5px;
}
.developer svg {
  width: 100%;
  height: auto;
}
@media(min-width: @screen-l-min) {
  .page-footer {
    &__wrapper {
      flex-direction: row;
      flex-grow: 1;
    }
  }
}
