.second-banner {
  .space-reset();
  display: block;
  min-height: 290px;
  background-color: #e4f1f9;
  position: relative;
  width: 100%;
  background: url("@{img-path}/bg-intro-triangle-mobile.svg"),
  url("@{img-path}/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% bottom;
  background-size: auto,auto;
  &__image {
    .wrapper();
    display: block;
    padding-top: 100px;
    width: 230px;
  }
}

@media(min-width: @screen-l-min) {
  .second-banner {
    background-image: url("@{img-path}/intro-triangle.svg"),
    url("@{img-path}/photo-background@1x.jpg");
    background-size: auto, 1200px 518px;
    background-position: 50% bottom;
    &__image {
      width: 460px;
    }
  }
}
  @media(min-width:@extra-large-up) {
  .second-banner {
    min-height: 308px;
    &__image {
      width: 460px;
    }
  }
}
