.toggle-set {
  padding-bottom: 9px;
}

.toggle-set__text {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  padding-left: 80px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: left;
  color: #000000;
  text-transform: none;
  cursor: pointer;
  padding-top: 14px;
}

.toggle-set__item:hover {
  background-color: #e5e5e5;
}

.toggle-set__item:active {
  background-color: #d5d5d5;
}

.toggle-set__input:checked ~ .toggle-set__text:active::before {
  background-color: #a4a4a4;
}

.toggle-set__item input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  cursor: pointer;
}

.toggle-set__item {
  position: relative;
  margin-bottom: 13px;
  display: block;
  width: 57px;
  height: 57px;
  border: none;
  border-radius: 50%;
  background-color: #f2f2f2;
  cursor: pointer;
}

.toggle-set__input:checked ~ .toggle-set__text::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 22px;
  height: 22px;
  margin: auto;
  border-radius: 50%;
  background-color: #000000;
  cursor: pointer;
}

input[type="radio"]:focus + .toggle-set__text {
  outline: rgb(59, 153, 252) auto 5px;
}

@media (min-width: @screen-l-min) {
  .toggle-set {
    padding-left: 30px;
    padding-top: 39px;
  }

  .toggle-set__item {
    margin-bottom: 22px;
  }
}

@media (min-width: @screen-xl-min) {
  .toggle-set__text {
    margin-left: -2px;
  }
}

@media (min-width: @screen-xl-min) {
  .toggle-set {
    padding-left: 3px;
    padding-top: 40px;
  }
}
