body {
  .space-reset();
  min-width: 320px;
  color: @base-text-color;
  background-color: @light-color;
  font-family: @base-font-family;
  font-size: @base-font-size;
  line-height: @base-line-height;
  text-transform: uppercase;
}

p {
  font-size: @base-font-size;
  font-weight: normal;
}

h1,
h2 {
  font-size: @font-size-title;
  line-height: @line-height-title;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.gallery__image {
  background-color: @image-background-color;
}
