body {
  .space-reset();
  min-width: 320px;
  color: @base-text-color;
  background-color: @main-background-color;
  font-family: @base-font-family;
  font-size: @base-font-size;
  line-height: @base-line-height;
  text-transform: uppercase;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  box-shadow: 0 0 30px -4px rgba(0, 0, 0, .6);
  max-width: 1200px;
  margin: 0 auto;
}

p {
  font-size: @base-font-size;
  font-weight: normal;
}


a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;

}

.gallery__image {
  background-color: @image-background-color;
}
