/////*** PATHS ***/////
@fonts-path: "../fonts";
@img-path: "../img";
/////*** FONTS ***/////
@base-font-family: "PT Sans",
Arial,
sans-serif;
@base-font-size: 14px;
@base-line-height: 21px;
@base-text-color: #333333;
@base-block-color: #ffffff;
@font-size-title: 18px;
@line-height-title: 26px;
/*** COLORS ***/

@light-color: #ffffff;
@block-color: #81b3d2;
@image-background-color: #ffcc83;
/***Mobile***/

@screen-m-min: 320px;
@screen-l-min: 768px;
@extra-large-up: 1200px;
@screen-m-min: 320px;
@screen-l-min: 768px;
@extra-large-up: 1200px;
